.signin {
    background-color: black;
    min-height: 100vh;
    overflow: hidden;
  }

  .form {
    max-width: 400px;
    margin: 0 auto;
  }

  .formlabel {
    margin-top: 10px;
    color: #c7a034;
  }

  .customButton {
    background-color: #123f42 !important;
    border-radius: 50px;
    color: #c7a034 !important;
    border-color: gray !important;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 60%;
  }

  .tosignup {
    text-decoration: none !important;
    color: white;
    font-size: larger !important;
  }

  .tosignup:hover {
    color: aliceblue;
  }

  @media (max-width: 768px) {
    .logoImage {
      height: 200px;
      width: 200px;
    }
  }
