@import url('https://fonts.cdnfonts.com/css/noto-serif-display');

.halal {
    font-family: 'Noto Serif Display', sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #c7a034;
    font-weight: bold;
}
